body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--dark-color);
}
.description{
    font-size: 10px;
    font-family: monospace;
    margin-bottom: 10px;
    color: rgb(225, 100, 240);
   
