@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:weight@700&display=swap');

body{
    color: #111;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Baloo Thambi 2',cursive;
    font-weight: 700;
    font-size: 5rem;
}

.description{
    font-size: 10px;
    font-family: 'Baloo Thambi 2',cursive;
    margin-bottom: 10px;
    color: rgb(225, 100, 240);
