@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:weight@700&display=swap');
    
body{
    color: #111;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Baloo Thambi 2',cursive;
    font-weight: 700;
    font-size: 5rem;
}

.greetings > span{
    animation: glow 3s ease-in-out infinite;
}

.greetings{
    font-size: 2rem;
    font-weight: 900;
}


@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px rgb(225, 27, 240), 0 0 50px rgb(225, 27, 240), 0 0 100px rgb(225, 27, 240);
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: 0s ;
}
.greetings > span:nth-child(3){
    animation-delay: 0s ;
}
.greetings > span:nth-child(4){
    animation-delay: 0s;
}
.greetings > span:nth-child(5){
    animation-delay: 0s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s ;
}
.greetings > span:nth-child(7){
    animation-delay: 1s ;
}
.greetings > span:nth-child(8){
    animation-delay: 1s ;
}
.greetings > span:nth-child(9){
    animation-delay: 1s;
}
.greetings > span:nth-child(10){
    animation-delay: 1s ;
}
.greetings > span:nth-child(11){
    animation-delay: 2s ;
}
.greetings > span:nth-child(12){
    animation-delay: 2s;
}
.greetings > span:nth-child(13){
    animation-delay: 2s;
}
.greetings > span:nth-child(14){
    animation-delay: 2s ;
}
.greetings > span:nth-child(15){
    animation-delay: 2s ;
}
.greetings > span:nth-child(16){
    animation-delay: 2s;
}
.greetings > span:nth-child(17){
    animation-delay: 2s;
}
.greetings > span:nth-child(18){
    animation-delay: 2s;
}
.greetings > span:nth-child(19){
    animation-delay: 2s;
}
.greetings > span:nth-child(20){
    animation-delay: 2s;
}

 
.description{
    font-size: 4px;
    font-family: monospace;
    margin-bottom: 0px;
}

.button a{
    text-decoration: none;
    font-size: 10px;
    color: #111;
}
    </style>
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
         font-size: 10px;
    }
    
    .button a{
        font-size: .5rem;
    }
}
